<div class="tpl-header tpl-left">
    <div class="tpl-header-item">
        <ul class="tpl-head-nav left-item">
            <li class="tpl-head-nav-item">
                <a href="javascript:;" class="tpl-dent"><i class="layui-icon layui-icon-shrink-right"></i></a>
            </li>
            <li class="tpl-head-nav-item">
                <a href="547720744@qq.com" target="_blank"><i class="layui-icon layui-icon-website"></i></a>
            </li>
            <li class="tpl-head-nav-item">
                <a href=""><i class="layui-icon layui-icon-refresh"></i></a>
            </li>
            <li class="tpl-head-nav-item">
                <input type="text" class="search" placeholder="搜索...">
            </li>
        </ul>
        <ul class="tpl-head-nav right-item">
            <li class="tpl-head-nav-item">
                <a href="{:url('msg/index')}"><i class="layui-icon layui-icon-notice"></i></a>
                <span class="tpl-badeg"></span>
            </li>
            <li class="tpl-head-nav-item theme">
                <a href="javascript:;"><i class="layui-icon layui-icon-theme"></i></a>
            </li>
            <li class="tpl-head-nav-item">
                <a href="javascript:;" class="screen"><i class="layui-icon layui-icon-screen-full"></i></a>
            </li>
            <li class="tpl-head-nav-item">
                <a href="javascript:;" class="user-item">{$user.nickname} <i class="fa caret fa-caret-down"></i></a>
                <ul class="child-nav">
                    <span class="triangle"><em></em></span>
                    <li>
                        <a href="javascript:;"><i class="fa fa-user-o"></i>个人中心</a>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="fa fa-key"></i>修改密码</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="logout"><i class="fa fa-sign-out"></i>退出登陆</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>