<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>layAdmin后台管理系统模板</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <link rel="stylesheet" href="../../static/css/app.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .handle_btn{
            padding: 2px 3px;
            display: inline-block;
            cursor: pointer;
            color: #666;
            margin: 0 3px;
        }
        .handle_btn i{
            color: #929292;
        }
        .layui-table-cell .layui-form-checkbox[lay-skin=primary]{
            top: 5px;
        }
    </style>
</head>
<body>
<div class="tpl-app <!--{$Think.session.app_style} .tpl-small-app 为折叠状态-->">
    <!--头部-->
    <!--{include file="public/tpl-head"/}-->
    <div class="tpl-header tpl-left">
        <div class="tpl-header-item">
            <ul class="tpl-head-nav left-item">
                <li class="tpl-head-nav-item">
                    <a href="javascript:;" class="tpl-dent"><i class="layui-icon layui-icon-shrink-right"></i></a>
                </li>
                <li class="tpl-head-nav-item">
                    <a href="javascript:;" target="_blank"><i class="layui-icon layui-icon-website"></i></a>
                </li>
                <li class="tpl-head-nav-item">
                    <a href=""><i class="layui-icon layui-icon-refresh"></i></a>
                </li>
                <li class="tpl-head-nav-item">
                    <input type="text" class="search" placeholder="搜索...">
                </li>
            </ul>
            <ul class="tpl-head-nav right-item">
                <li class="tpl-head-nav-item">
                    <a href="../msg/index.html"><i class="layui-icon layui-icon-notice"></i></a>
                    <span class="tpl-badeg"></span>
                </li>
                <li class="tpl-head-nav-item theme">
                    <a href="javascript:;"><i class="layui-icon layui-icon-theme"></i></a>
                </li>
                <li class="tpl-head-nav-item">
                    <a href="javascript:;" class="screen"><i class="layui-icon layui-icon-screen-full"></i></a>
                </li>
                <li class="tpl-head-nav-item">
                    <a href="javascript:;" class="user-item">新用户-A0001 <i class="fa caret fa-caret-down"></i></a>
                    <ul class="child-nav">
                        <span class="triangle"><em></em></span>
                        <li>
                            <a href="javascript:;"><i class="fa fa-user-o"></i>个人中心</a>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-key"></i>修改密码</a>
                        </li>
                        <li>
                            <a href="javascript:;" class="logout"><i class="fa fa-sign-out"></i>退出登陆</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!--导航栏-->
    <div class="tpl-side">
        <div class="tpl-side-menu">
            <div class="tpl-user-image">
                <span class="user-name">layAdmin</span>
                <a href="javascript:;" class="user-logo"><img src="../../static/images/logo.jpg"></a>
            </div>
            <ul class="tpl-nav">
                <div class="tpl-nav-body">
                    <li class="nav-item">
                        <a href="../../index.html" class="nav-item-link">
                            <i class="layui-icon layui-icon-home nav-icon"></i>
                            <span>主页</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../auth/index.html" class="nav-item-link">
                            <i class="layui-icon layui-icon-user nav-icon"></i>
                            <span>权限控制台</span>
                            <i class="fa fa-caret-right nav-right-icon"></i>
                        </a>
                        <ul class="child-nav">
                            <li class="child-nav-item">
                                <a href="../auth/auth_add.html">
                                    <i class="fa fa-plus-circle"></i>
                                    <span>添加权限</span>
                                </a>
                            </li>
                            <li class="child-nav-item">
                                <a href="../auth/rule_index.html">
                                    <i class="fa fa-users"></i>
                                    <span>角色组管理</span>
                                </a>
                            </li>
                            <li class="child-nav-item">
                                <a href="../auth/user_index.html">
                                    <i class="fa fa-user-o"></i>
                                    <span>用户管理</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="../control/index.html" class="nav-item-link">
                            <i class="layui-icon layui-icon-set nav-icon"></i>
                            <span>设置</span>
                            <i class="fa fa-caret-right nav-right-icon"></i>
                        </a>
                        <ul class="child-nav">
                            <li class="child-nav-item">
                                <a href="../control/index.html">
                                    <i class="fa fa-cogs"></i>
                                    <span>网站设置</span>
                                </a>
                            </li>
                            <li class="child-nav-item">
                                <a href="../control/tdk.html">
                                    <i class="fa fa-edge"></i>
                                    <span>TDK管理</span>
                                </a>
                            </li>
                            <li class="child-nav-item">
                                <a href="../push/push_message.html">
                                    <i class="fa fa-comment-o"></i>
                                    <span>推送消息</span>
                                </a>
                            </li>
                            <li class="child-nav-item">
                                <a href="../mysql/index.html">
                                    <i class="fa fa-table"></i>
                                    <span>数据表管理</span>
                                </a>
                            </li>
                            <li class="child-nav-item">
                                <a href="../control/site_index.html">
                                    <i class="fa fa-theme"></i>
                                    <span>自定义UI管理</span>
                                </a>
                            </li>
                            <li class="child-nav-item">
                                <a href="../email/index.html">
                                    <i class="fa fa-envelope-o"></i>
                                    <span>邮件管理</span>
                                </a>
                            </li>
                            <li class="child-nav-item">
                                <a href="../control/module_index.html">
                                    <i class="fa fa-gear"></i>
                                    <span>模块管理</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="../auth/index.html" class="nav-item-link">
                            <i class="layui-icon layui-icon-user nav-icon"></i>
                            <span>用户</span>
                            <i class="fa fa-caret-right nav-right-icon"></i>
                        </a>
                        <ul class="child-nav">
                            <li class="child-nav-item">
                                <a href="../user/login.html">
                                    <i class="fa fa-user-o"></i>
                                    <span>登陆页面</span>
                                </a>
                            </li>
                            <li class="child-nav-item">
                                <a href="../user/register.html">
                                    <i class="fa fa-user"></i>
                                    <span>注册页面</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </div>
            </ul>
            <ul class="tpl-bottom-nav">
                <li class="tpl-head-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-notice"></i></a>
                </li>
                <li class="tpl-head-nav-item theme">
                    <a href="javascript:;"><i class="layui-icon layui-icon-theme"></i></a>
                </li>
                <li class="tpl-head-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-username"></i></a>
                </li>
                <li class="tpl-head-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-edit"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tpl-body">
        <div class="tpl-show">
            <div class="tpl-sub-header">
                <!--面包屑-->
                <!--{include file="public/tpl-crumbs"/}-->
                <div class="crumbs">
                    <a href="#">首页</a>
                    <i>/</i>
                </div>
            </div>
            <div class="tpl-fluid">
                <div class="tpl-card">
                    <div class="tpl-card-head">模块管理</div>
                    <div class="tpl-card-body">
                        <table id="module" lay-filter="module"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--侧边栏-->
    <!--{include file="public/tpl-right-bar"/}-->
    <div class="tpl-right-bar">
        <div class="tpl-right-bar-show">
            <div class="tpl-card">
                <div class="tpl-card-head">配色方案</div>
                <div class="tpl-card-body">
                    <ul class="theme-list">
                        <li class="theme-item" theme-id="1">
                            <div class="theme-head" style="background-color: #ffffff" bg="#ffffff" color="#444444"></div>
                            <div class="theme-side" style="background-color: #20222A" bg="#20222A" color="rgba(255,255,255,.8)">
                                <div class="theme-logo" style="background-color: #20222A" bg="#20222A" color="rgba(255,255,255,.8)"></div>
                            </div>
                        </li>
                        <li class="theme-item" theme-id="2">
                            <div class="theme-head" style="background-color: #ffffff" bg="#ffffff" color="#444444"></div>
                            <div class="theme-side" style="background-color: #50314F" bg="#50314F" color="rgba(255,255,255,.8)">
                                <div class="theme-logo" style="background-color: #50314F" bg="#50314F" color="rgba(255,255,255,.8)"></div>
                            </div>
                        </li>
                        <li class="theme-item" theme-id="3">
                            <div class="theme-head" style="background-color: #ffffff" bg="#ffffff" color="#444"></div>
                            <div class="theme-side" style="background-color: #333f58" bg="#333f58" color="rgba(255,255,255,.8)">
                                <div class="theme-logo" style="background-color: #1E9FFF" bg="#1E9FFF" color="rgba(255,255,255,.8)"></div>
                            </div>
                        </li>
                        <li class="theme-item" theme-id="4">
                            <div class="theme-head" style="background-color: #ffffff" bg="#ffffff" color="#444"></div>
                            <div class="theme-side" style="background-color: #2e9688" bg="#2e9688" color="rgba(255,255,255,.8)">
                                <div class="theme-logo" style="background-color: #2e9688" bg="#2e9688" color="rgba(255,255,255,.8)"></div>
                            </div>
                        </li>
                        <li class="theme-item" theme-id="5">
                            <div class="theme-head" style="background-color: #ffffff" bg="#ffffff" color="#444"></div>
                            <div class="theme-side" style="background-color: #20222a" bg="#20222a" color="rgba(255,255,255,.8)">
                                <div class="theme-logo" style="background-color: #f78400" bg="#f78400" color="rgba(255,255,255,.8)"></div>
                            </div>
                        </li>
                        <li class="theme-item" theme-id="6">
                            <div class="theme-head" style="background-color: #ffffff" bg="#ffffff" color="#444"></div>
                            <div class="theme-side" style="background-color: #242d38" bg="#242d38" color="rgba(255,255,255,.8)">
                                <div class="theme-logo" style="background-color: #AA3130" bg="#AA3130" color="rgba(255,255,255,.8)"></div>
                            </div>
                        </li>
                        <li class="theme-item" theme-id="7">
                            <div class="theme-head" style="background-color: #ffffff" bg="#ffffff" color="#444"></div>
                            <div class="theme-side" style="background-color: #20222a" bg="#20222a" color="rgba(255,255,255,.8)">
                                <div class="theme-logo" style="background-color: #3A3D49" bg="#3A3D49" color="rgba(255,255,255,.8)"></div>
                            </div>
                        </li>
                        <li class="theme-item" theme-id="8">
                            <div class="theme-head" style="background-color: #2F9688" bg="#2F9688" color="#ffffff"></div>
                            <div class="theme-side" style="background-color: #20222a" bg="#20222a" color="rgba(255,255,255,.8)">
                                <div class="theme-logo" style="background-color: #226A62" bg="#226A62" color="rgba(255,255,255,.8)"></div>
                            </div>
                        </li>
                        <li class="theme-item" theme-id="9">
                            <div class="theme-head" style="background-color: #393d49" bg="#393d49" color="#ffffff"></div>
                            <div class="theme-side" style="background-color: #20222a" bg="#20222a" color="rgba(255,255,255,.8)">
                                <div class="theme-logo" style="background-color: #20222a" bg="#20222a" color="rgba(255,255,255,.8)"></div>
                            </div>
                        </li>
                        <li class="theme-item" theme-id="10">
                            <div class="theme-head" style="background-color: #ffffff" bg="#ffffff" color="#4f4f4f"></div>
                            <div class="theme-side" style="background-color: #ad5fcf" bg="#ad5fcf" color="rgba(255,255,255,.8)">
                                <div class="theme-logo" style="background-color: #20222A" bg="#20222A" color="rgba(255,255,255,.8)"></div>
                            </div>
                        </li>
                        <li class="theme-item" theme-id="11">
                            <div class="theme-head" style="background-color: #ffffff" bg="#ffffff" color="#444"></div>
                            <div class="theme-side" style="background-color: #20222A" bg="#20222A" color="#b91a1a">
                                <div class="theme-logo" style="background-color: #20222A" bg="#20222A" color="#b91a1a"></div>
                            </div>
                        </li>
                        <li class="theme-item" theme-id="12">
                            <div class="theme-head" style="background-color: #ffffff" bg="#ffffff" color="#444"></div>
                            <div class="theme-side" style="background-color: #0a5541" bg="#0a5541" color="#eda438">
                                <div class="theme-logo" style="background-color: #20222A" bg="#20222A" color="rgba(255,255,255,.8)"></div>
                            </div>
                        </li>
                        <li class="theme-item" theme-id="13">
                            <div class="theme-head" style="background-color: #ffffff" bg="#ffffff" color="#626262"></div>
                            <div class="theme-side" style="background-color: #f44336" bg="#f44336" color="#fbfbfb">
                                <div class="theme-logo" style="background-color: #f44336" bg="#f44336" color="#fbfbfb"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../static/layui/layui.js"></script>
<script src="../../static/js/app.js"></script>
<script type="text/html" id="status">
    <input type="checkbox" name="status" value="{{d.id}}" lay-skin="switch" lay-text="显示|隐藏" lay-filter="status" {{ d.status == 1? 'checked' : '' }}>
</script>
<script type="text/html" id="control">
    <a class="handle_btn" lay-event="detail"><i class="fa fa-eye"></i></a>
    <a class="handle_btn" lay-event="edit"><i class="fa fa-pencil"></i></a>
    <a class="handle_btn" lay-event="del"><i class="fa fa-remove"></i></a>
</script>
<script type="text/html" id="control-list">
    <a href="javascript:;" lay-event="getCheckLength" class="layui-btn layui-btn-sm">删除选中</a>
</script>
<script>
    layui.use(['jquery','table','form'],function() {
        var $ = layui.jquery,
            table = layui.table,
            form = layui.form;
        table.render({
            id: 'module',
            elem: "#module",
            url: "{:url('module_json')}",
            page: true,
            toolbar: '#control-list',
            cols: [[
                {type: 'checkbox', fixed: 'left'},
                {field: 'name', title: '模块名'},
                {field: 'title', title: '标题'},
                {field: 'keywords', title: '关键词'},
                {field: 'description', title: '描述'},
                {field: 'controller', title: '控制器'},
                {field: 'function', title: '方法'},
                {field: 'alias', title: '别名'},
                {field: 'target', title: '跳转方式'},
                {field: 'order', title: '排序',edit: true},
                {field: 'status', title: '状态',templet: '#status'},
                {title:'操作',toolbar: '#control',width: 110}
            ]]
        })
        // 行数据操作
        table.on('tool(module)', function(obj){
            var data = obj.data;
            if(obj.event === 'detail'){
                layer.msg('未完成...');
            } else if(obj.event === 'del'){
                layer.msg('确定要删除吗？', {
                    time: 0,
                    btn: ['确定', '算了'],
                    yes: function(index){
                        layer.close(index);
                        $.ajax({
                            url: "{:url('del_module')}",
                            type: 'post',
                            data: {
                                id: obj.data.id
                            },
                            success: function (d) {
                                layer.msg(d.msg);
                                layer.closeAll('loading');
                                if (d.code == 0) {
                                    obj.del();
                                }
                            }
                        })
                    }
                });
            } else if(obj.event === 'edit'){
                window.location.href = "{:url('module_update')}?module_id="+obj.data.id;
            }
        });
        // 监听头部事件
        table.on('toolbar(module)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    var obj_ids = '';
                    for (var i = 0;i < data.length;i++) {
                        obj_ids += data[i].id+',';
                    }
                    obj_ids = obj_ids.substr(0, obj_ids.length - 1);

                    layer.msg('确定要删除选中数据吗？', {
                        time: 0,
                        btn: ['确定', '算了'],
                        yes: function(index){
                            layer.close(index);
                            $.ajax({
                                url: "{:url('del_module')}",
                                type: 'post',
                                data: {
                                    id: obj_ids
                                },
                                success: function (d) {
                                    layer.msg(d.msg);
                                    layer.closeAll('loading');
                                    if (d.code == 0) {
                                        window.location.reload();
                                    }
                                }
                            })
                        }
                    });
                break;
            };
        });
        //监听状态操作
        form.on('switch(status)', function(obj){
            let id = this.value;
            let status = obj.elem.checked ? 1 : 0;
            layer.load(1);
            $.ajax({
                url: "{:url('module_auto_update')}",
                type: 'post',
                data: {
                    id: id,
                    field: 'status',
                    value: status
                },
                success: function (d) {
                    layer.msg(d.msg);
                    layer.closeAll('loading');
                }
            })
        });
        // 单元格编辑
        table.on('edit(module)', function(obj){
            var value = obj.value,data = obj.data,field = obj.field;
            layer.load(1);
            $.ajax({
                url: "{:url('module_auto_update')}",
                type: "post",
                data: {
                    id: data.id,
                    field: field,
                    value: value
                },
                success: function (d) {
                    layer.msg(d.msg);
                    layer.closeAll('loading');
                }
            })
        });

    })
</script>
</body>
</html>