<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>权限控制台</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <link rel="stylesheet" href="../../static/css/app.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .layui-form{
            width: 62%;
            margin: 15px 0;
        }
    </style>
</head>
<body>
<div class="tpl-app {$Think.session.app_style}">
    <!--头部-->
    <!--{include file="public/tpl-head"/}-->
    <div class="tpl-header tpl-left">
        <div class="tpl-header-item">
            <ul class="tpl-head-nav left-item">
                <li class="tpl-head-nav-item">
                    <a href="javascript:;" class="tpl-dent"><i class="layui-icon layui-icon-shrink-right"></i></a>
                </li>
                <li class="tpl-head-nav-item">
                    <a href="javascript:;" target="_blank"><i class="layui-icon layui-icon-website"></i></a>
                </li>
                <li class="tpl-head-nav-item">
                    <a href=""><i class="layui-icon layui-icon-refresh"></i></a>
                </li>
                <li class="tpl-head-nav-item">
                    <input type="text" class="search" placeholder="搜索...">
                </li>
            </ul>
            <ul class="tpl-head-nav right-item">
                <li class="tpl-head-nav-item">
                    <a href="../msg/index.html"><i class="layui-icon layui-icon-notice"></i></a>
                    <span class="tpl-badeg"></span>
                </li>
                <li class="tpl-head-nav-item theme">
                    <a href="javascript:;"><i class="layui-icon layui-icon-theme"></i></a>
                </li>
                <li class="tpl-head-nav-item">
                    <a href="javascript:;" class="screen"><i class="layui-icon layui-icon-screen-full"></i></a>
                </li>
                <li class="tpl-head-nav-item">
                    <a href="javascript:;" class="user-item">新用户-A0001 <i class="fa caret fa-caret-down"></i></a>
                    <ul class="child-nav">
                        <span class="triangle"><em></em></span>
                        <li>
                            <a href="javascript:;"><i class="fa fa-user-o"></i>个人中心</a>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-key"></i>修改密码</a>
                        </li>
                        <li>
                            <a href="javascript:;" class="logout"><i class="fa fa-sign-out"></i>退出登陆</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!--导航栏-->
    <div class="tpl-side">
        <div class="tpl-side-menu">
            <div class="tpl-user-image">
                <span class="user-name">layAdmin</span>
                <a href="javascript:;" class="user-logo"><img src="../../static/images/logo.jpg"></a>
            </div>
            <ul class="tpl-nav">
                <div class="tpl-nav-body">
                    <li class="nav-item">
                        <a href="../../index.html" class="nav-item-link">
                            <i class="layui-icon layui-icon-home nav-icon"></i>
                            <span>主页</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="index.html" class="nav-item-link">
                            <i class="layui-icon layui-icon-user nav-icon"></i>
                            <span>权限控制台</span>
                            <i class="fa fa-caret-right nav-right-icon"></i>
                        </a>
                        <ul class="child-nav">
                            <li class="child-nav-item">
                                <a href="auth_add.html">
                                    <i class="fa fa-plus-circle"></i>
                                    <span>添加权限</span>
                                </a>
                            </li>
                            <li class="child-nav-item">
                                <a href="rule_index.html">
                                    <i class="fa fa-users"></i>
                                    <span>角色组管理</span>
                                </a>
                            </li>
                            <li class="child-nav-item">
                                <a href="user_index.html">
                                    <i class="fa fa-user-o"></i>
                                    <span>用户管理</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="../control/index.html" class="nav-item-link">
                            <i class="layui-icon layui-icon-set nav-icon"></i>
                            <span>设置</span>
                            <i class="fa fa-caret-right nav-right-icon"></i>
                        </a>
                        <ul class="child-nav">
                            <li class="child-nav-item">
                                <a href="../control/index.html">
                                    <i class="fa fa-cogs"></i>
                                    <span>网站设置</span>
                                </a>
                            </li>
                            <li class="child-nav-item">
                                <a href="../control/tdk.html">
                                    <i class="fa fa-edge"></i>
                                    <span>TDK管理</span>
                                </a>
                            </li>
                            <li class="child-nav-item">
                                <a href="../push/push_message.html">
                                    <i class="fa fa-comment-o"></i>
                                    <span>推送消息</span>
                                </a>
                            </li>
                            <li class="child-nav-item">
                                <a href="../mysql/index.html">
                                    <i class="fa fa-table"></i>
                                    <span>数据表管理</span>
                                </a>
                            </li>
                            <li class="child-nav-item">
                                <a href="../control/site_index.html">
                                    <i class="fa fa-theme"></i>
                                    <span>自定义UI管理</span>
                                </a>
                            </li>
                            <li class="child-nav-item">
                                <a href="../email/index.html">
                                    <i class="fa fa-envelope-o"></i>
                                    <span>邮件管理</span>
                                </a>
                            </li>
                            <li class="child-nav-item">
                                <a href="../control/module_index.html">
                                    <i class="fa fa-gear"></i>
                                    <span>模块管理</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="../auth/index.html" class="nav-item-link">
                            <i class="layui-icon layui-icon-user nav-icon"></i>
                            <span>用户</span>
                            <i class="fa fa-caret-right nav-right-icon"></i>
                        </a>
                        <ul class="child-nav">
                            <li class="child-nav-item">
                                <a href="../user/login.html">
                                    <i class="fa fa-user-o"></i>
                                    <span>登陆页面</span>
                                </a>
                            </li>
                            <li class="child-nav-item">
                                <a href="../user/register.html">
                                    <i class="fa fa-user"></i>
                                    <span>注册页面</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </div>
            </ul>
            <ul class="tpl-bottom-nav">
                <li class="tpl-head-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-notice"></i></a>
                </li>
                <li class="tpl-head-nav-item theme">
                    <a href="javascript:;"><i class="layui-icon layui-icon-theme"></i></a>
                </li>
                <li class="tpl-head-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-username"></i></a>
                </li>
                <li class="tpl-head-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-edit"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tpl-body">
        <div class="tpl-show">
            <div class="tpl-sub-header">
                <!--面包屑-->
                <!--{include file="public/tpl-crumbs"/}-->
                <div class="crumbs">
                    <a href="#">首页</a>
                    <i>/</i>
                </div>
            </div>
            <div class="tpl-fluid">
                <div class="tpl-pannel">
                    <table class="layui-table" lay-even="" lay-skin="row">
                        <colgroup>
                            <col width="33%">
                            <col width="33%">
                            <col width="120">
                            <col>
                        </colgroup>
                        <thead>
                        <tr>
                            <th>权限名称</th>
                            <th>权限路径</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>主页</td>
                            <td>index/index</td>
                            <td>启用</td>
                            <td class="link-item"><a href="auth_update.html?id=1">修改</a><a tag-id="1" href="javascript:;" class="delete">删除</a></td>
                        </tr>
                        <tr>
                            <td>权限控制台</td>
                            <td>auth/index</td>
                            <td>启用</td>
                            <td class="link-item"><a href="auth_update.html?id=2">修改</a><a tag-id="2" href="javascript:;" class="delete">删除</a></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-angle-double-right"></i> 添加权限</td>
                            <td>auth/auth_add</td>
                            <td>启用</td>
                            <td class="link-item"><a href="auth_update.html?id=5">修改</a><a tag-id="5" href="javascript:;" class="delete">删除</a></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-angle-double-right"></i> 删除权限</td>
                            <td>auth/auth_del</td>
                            <td>禁用</td>
                            <td class="link-item"><a href="auth_update.html?id=9">修改</a><a tag-id="9" href="javascript:;" class="delete">删除</a></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-angle-double-right"></i> 修改权限</td>
                            <td>auth/auth_update</td>
                            <td>禁用</td>
                            <td class="link-item"><a href="auth_update.html?id=10">修改</a><a tag-id="10" href="javascript:;" class="delete">删除</a></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-angle-double-right"></i> 角色组管理</td>
                            <td>auth/rule_index</td>
                            <td>启用</td>
                            <td class="link-item"><a href="auth_update.html?id=11">修改</a><a tag-id="11" href="javascript:;" class="delete">删除</a></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-angle-double-right"></i> <i class="fa fa-angle-double-right"></i> 添加角色组</td>
                            <td>auth/rule_add</td>
                            <td>启用</td>
                            <td class="link-item"><a href="auth_update.html?id=12">修改</a><a tag-id="12" href="javascript:;" class="delete">删除</a></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-angle-double-right"></i> <i class="fa fa-angle-double-right"></i> 修改角色组</td>
                            <td>auth/rule_update</td>
                            <td>启用</td>
                            <td class="link-item"><a href="auth_update.html?id=13">修改</a><a tag-id="13" href="javascript:;" class="delete">删除</a></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-angle-double-right"></i> <i class="fa fa-angle-double-right"></i> 删除角色组</td>
                            <td>auth/rule_del</td>
                            <td>启用</td>
                            <td class="link-item"><a href="auth_update.html?id=14">修改</a><a tag-id="14" href="javascript:;" class="delete">删除</a></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-angle-double-right"></i> 用户管理</td>
                            <td>auth/user_index</td>
                            <td>启用</td>
                            <td class="link-item"><a href="auth_update.html?id=16">修改</a><a tag-id="16" href="javascript:;" class="delete">删除</a></td>
                        </tr>
                        <tr>
                            <td>设置</td>
                            <td>control/index</td>
                            <td>启用</td>
                            <td class="link-item"><a href="auth_update.html?id=21">修改</a><a tag-id="21" href="javascript:;" class="delete">删除</a></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-angle-double-right"></i> 网站设置</td>
                            <td>control/index</td>
                            <td>启用</td>
                            <td class="link-item"><a href="auth_update.html?id=15">修改</a><a tag-id="15" href="javascript:;" class="delete">删除</a></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-angle-double-right"></i> TDK管理</td>
                            <td>control/tdk</td>
                            <td>启用</td>
                            <td class="link-item"><a href="auth_update.html?id=22">修改</a><a tag-id="22" href="javascript:;" class="delete">删除</a></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-angle-double-right"></i> <i class="fa fa-angle-double-right"></i> 添加模块</td>
                            <td>control/module_add</td>
                            <td>启用</td>
                            <td class="link-item"><a href="auth_update.html?id=23">修改</a><a tag-id="23" href="javascript:;" class="delete">删除</a></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-angle-double-right"></i> 推送消息</td>
                            <td>push/push_message</td>
                            <td>启用</td>
                            <td class="link-item"><a href="auth_update.html?id=51">修改</a><a tag-id="51" href="javascript:;" class="delete">删除</a></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-angle-double-right"></i> 数据表管理</td>
                            <td>mysql/index</td>
                            <td>启用</td>
                            <td class="link-item"><a href="auth_update.html?id=54">修改</a><a tag-id="54" href="javascript:;" class="delete">删除</a></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-angle-double-right"></i> <i class="fa fa-angle-double-right"></i> 数据表操作</td>
                            <td>mysql/control</td>
                            <td>禁用</td>
                            <td class="link-item"><a href="auth_update.html?id=58">修改</a><a tag-id="58" href="javascript:;" class="delete">删除</a></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-angle-double-right"></i> 自定义UI管理</td>
                            <td>control/site_index</td>
                            <td>启用</td>
                            <td class="link-item"><a href="auth_update.html?id=64">修改</a><a tag-id="64" href="javascript:;" class="delete">删除</a></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-angle-double-right"></i> <i class="fa fa-angle-double-right"></i> 添加UI样式</td>
                            <td>control/site_ui_add</td>
                            <td>启用</td>
                            <td class="link-item"><a href="auth_update.html?id=59">修改</a><a tag-id="59" href="javascript:;" class="delete">删除</a></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-angle-double-right"></i> 邮件管理</td>
                            <td>email/index</td>
                            <td>启用</td>
                            <td class="link-item"><a href="auth_update.html?id=65">修改</a><a tag-id="65" href="javascript:;" class="delete">删除</a></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-angle-double-right"></i> 模块管理</td>
                            <td>control/module_index</td>
                            <td>启用</td>
                            <td class="link-item"><a href="auth_update.html?id=66">修改</a><a tag-id="66" href="javascript:;" class="delete">删除</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--侧边栏-->
    <!--{include file="public/tpl-right-bar"/}-->
    <div class="tpl-right-bar">
        <div class="tpl-right-bar-show">
            <div class="tpl-card">
                <div class="tpl-card-head">配色方案</div>
                <div class="tpl-card-body">
                    <ul class="theme-list">
                        <li class="theme-item" theme-id="1">
                            <div class="theme-head" style="background-color: #ffffff" bg="#ffffff" color="#444444"></div>
                            <div class="theme-side" style="background-color: #20222A" bg="#20222A" color="rgba(255,255,255,.8)">
                                <div class="theme-logo" style="background-color: #20222A" bg="#20222A" color="rgba(255,255,255,.8)"></div>
                            </div>
                        </li>
                        <li class="theme-item" theme-id="2">
                            <div class="theme-head" style="background-color: #ffffff" bg="#ffffff" color="#444444"></div>
                            <div class="theme-side" style="background-color: #50314F" bg="#50314F" color="rgba(255,255,255,.8)">
                                <div class="theme-logo" style="background-color: #50314F" bg="#50314F" color="rgba(255,255,255,.8)"></div>
                            </div>
                        </li>
                        <li class="theme-item" theme-id="3">
                            <div class="theme-head" style="background-color: #ffffff" bg="#ffffff" color="#444"></div>
                            <div class="theme-side" style="background-color: #333f58" bg="#333f58" color="rgba(255,255,255,.8)">
                                <div class="theme-logo" style="background-color: #1E9FFF" bg="#1E9FFF" color="rgba(255,255,255,.8)"></div>
                            </div>
                        </li>
                        <li class="theme-item" theme-id="4">
                            <div class="theme-head" style="background-color: #ffffff" bg="#ffffff" color="#444"></div>
                            <div class="theme-side" style="background-color: #2e9688" bg="#2e9688" color="rgba(255,255,255,.8)">
                                <div class="theme-logo" style="background-color: #2e9688" bg="#2e9688" color="rgba(255,255,255,.8)"></div>
                            </div>
                        </li>
                        <li class="theme-item" theme-id="5">
                            <div class="theme-head" style="background-color: #ffffff" bg="#ffffff" color="#444"></div>
                            <div class="theme-side" style="background-color: #20222a" bg="#20222a" color="rgba(255,255,255,.8)">
                                <div class="theme-logo" style="background-color: #f78400" bg="#f78400" color="rgba(255,255,255,.8)"></div>
                            </div>
                        </li>
                        <li class="theme-item" theme-id="6">
                            <div class="theme-head" style="background-color: #ffffff" bg="#ffffff" color="#444"></div>
                            <div class="theme-side" style="background-color: #242d38" bg="#242d38" color="rgba(255,255,255,.8)">
                                <div class="theme-logo" style="background-color: #AA3130" bg="#AA3130" color="rgba(255,255,255,.8)"></div>
                            </div>
                        </li>
                        <li class="theme-item" theme-id="7">
                            <div class="theme-head" style="background-color: #ffffff" bg="#ffffff" color="#444"></div>
                            <div class="theme-side" style="background-color: #20222a" bg="#20222a" color="rgba(255,255,255,.8)">
                                <div class="theme-logo" style="background-color: #3A3D49" bg="#3A3D49" color="rgba(255,255,255,.8)"></div>
                            </div>
                        </li>
                        <li class="theme-item" theme-id="8">
                            <div class="theme-head" style="background-color: #2F9688" bg="#2F9688" color="#ffffff"></div>
                            <div class="theme-side" style="background-color: #20222a" bg="#20222a" color="rgba(255,255,255,.8)">
                                <div class="theme-logo" style="background-color: #226A62" bg="#226A62" color="rgba(255,255,255,.8)"></div>
                            </div>
                        </li>
                        <li class="theme-item" theme-id="9">
                            <div class="theme-head" style="background-color: #393d49" bg="#393d49" color="#ffffff"></div>
                            <div class="theme-side" style="background-color: #20222a" bg="#20222a" color="rgba(255,255,255,.8)">
                                <div class="theme-logo" style="background-color: #20222a" bg="#20222a" color="rgba(255,255,255,.8)"></div>
                            </div>
                        </li>
                        <li class="theme-item" theme-id="10">
                            <div class="theme-head" style="background-color: #ffffff" bg="#ffffff" color="#4f4f4f"></div>
                            <div class="theme-side" style="background-color: #ad5fcf" bg="#ad5fcf" color="rgba(255,255,255,.8)">
                                <div class="theme-logo" style="background-color: #20222A" bg="#20222A" color="rgba(255,255,255,.8)"></div>
                            </div>
                        </li>
                        <li class="theme-item" theme-id="11">
                            <div class="theme-head" style="background-color: #ffffff" bg="#ffffff" color="#444"></div>
                            <div class="theme-side" style="background-color: #20222A" bg="#20222A" color="#b91a1a">
                                <div class="theme-logo" style="background-color: #20222A" bg="#20222A" color="#b91a1a"></div>
                            </div>
                        </li>
                        <li class="theme-item" theme-id="12">
                            <div class="theme-head" style="background-color: #ffffff" bg="#ffffff" color="#444"></div>
                            <div class="theme-side" style="background-color: #0a5541" bg="#0a5541" color="#eda438">
                                <div class="theme-logo" style="background-color: #20222A" bg="#20222A" color="rgba(255,255,255,.8)"></div>
                            </div>
                        </li>
                        <li class="theme-item" theme-id="13">
                            <div class="theme-head" style="background-color: #ffffff" bg="#ffffff" color="#626262"></div>
                            <div class="theme-side" style="background-color: #f44336" bg="#f44336" color="#fbfbfb">
                                <div class="theme-logo" style="background-color: #f44336" bg="#f44336" color="#fbfbfb"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../static/layui/layui.js"></script>
<script src="../../static/js/app.js"></script>
<script>
    layui.use(['jquery','table'],function() {
        var $ = layui.jquery;
        $('.delete').on('click',function(){
            let id = $(this).attr("tag-id");
            let dom = $(this);
            layer.msg('确定要删除吗？', {
                time: 0,
                btn: ['确定', '算了'],
                yes: function(index){
                    layer.close(index);
                    $.ajax({
                        url: "{:url('auth_del')}",
                        type: 'post',
                        data: {
                            id: id
                        },
                        success: function (d) {
                            layer.msg(d.msg);
                            layer.closeAll('loading');
                            if (d.code == 0) {
                                dom.parents('tr').remove();
                            }
                        },
                        error: function (e) {
                            layer.msg(e);
                        }
                    })
                }
            });
        })
    })
</script>
</body>
</html>