<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>layAdmin后台管理系统模板</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <link rel="stylesheet" href="../../static/css/app.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .layui-form{
            width: 62%;
            margin: 15px 0;
        }
        .p1{
            padding-left: 1.5rem;
        }
        .p2{
            padding-left: 3rem;
        }
        .p3{
            padding-left: 4.5rem;
        }
        .p4{
            padding-left: 6rem;
        }
        .p5{
            padding-left: 7.5rem;
        }
        .p5{
            padding-left: 9rem;
        }
    </style>
</head>
<body>
<div class="tpl-app <!--{$Think.session.app_style} .tpl-small-app 为折叠状态-->">
    <!--头部-->
    <!--{include file="public/tpl-head"/}-->
    <div class="tpl-header tpl-left">
        <div class="tpl-header-item">
            <ul class="tpl-head-nav left-item">
                <li class="tpl-head-nav-item">
                    <a href="javascript:;" class="tpl-dent"><i class="layui-icon layui-icon-shrink-right"></i></a>
                </li>
                <li class="tpl-head-nav-item">
                    <a href="javascript:;" target="_blank"><i class="layui-icon layui-icon-website"></i></a>
                </li>
                <li class="tpl-head-nav-item">
                    <a href=""><i class="layui-icon layui-icon-refresh"></i></a>
                </li>
                <li class="tpl-head-nav-item">
                    <input type="text" class="search" placeholder="搜索...">
                </li>
            </ul>
            <ul class="tpl-head-nav right-item">
                <li class="tpl-head-nav-item">
                    <a href="../msg/index.html"><i class="layui-icon layui-icon-notice"></i></a>
                    <span class="tpl-badeg"></span>
                </li>
                <li class="tpl-head-nav-item theme">
                    <a href="javascript:;"><i class="layui-icon layui-icon-theme"></i></a>
                </li>
                <li class="tpl-head-nav-item">
                    <a href="javascript:;" class="screen"><i class="layui-icon layui-icon-screen-full"></i></a>
                </li>
                <li class="tpl-head-nav-item">
                    <a href="javascript:;" class="user-item">新用户-A0001 <i class="fa caret fa-caret-down"></i></a>
                    <ul class="child-nav">
                        <span class="triangle"><em></em></span>
                        <li>
                            <a href="javascript:;"><i class="fa fa-user-o"></i>个人中心</a>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-key"></i>修改密码</a>
                        </li>
                        <li>
                            <a href="javascript:;" class="logout"><i class="fa fa-sign-out"></i>退出登陆</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!--导航栏-->
    <div class="tpl-side">
        <div class="tpl-side-menu">
            <div class="tpl-user-image">
                <span class="user-name">layAdmin</span>
                <a href="javascript:;" class="user-logo"><img src="../../static/images/logo.jpg"></a>
            </div>
            <ul class="tpl-nav">
                <div class="tpl-nav-body">
                    <li class="nav-item">
                        <a href="../../index.html" class="nav-item-link">
                            <i class="layui-icon layui-icon-home nav-icon"></i>
                            <span>主页</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../auth/index.html" class="nav-item-link">
                            <i class="layui-icon layui-icon-user nav-icon"></i>
                            <span>权限控制台</span>
                            <i class="fa fa-caret-right nav-right-icon"></i>
                        </a>
                        <ul class="child-nav">
                            <li class="child-nav-item">
                                <a href="../auth/auth_add.html">
                                    <i class="fa fa-plus-circle"></i>
                                    <span>添加权限</span>
                                </a>
                            </li>
                            <li class="child-nav-item">
                                <a href="../auth/rule_index.html">
                                    <i class="fa fa-users"></i>
                                    <span>角色组管理</span>
                                </a>
                            </li>
                            <li class="child-nav-item">
                                <a href="../auth/user_index.html">
                                    <i class="fa fa-user-o"></i>
                                    <span>用户管理</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="../control/index.html" class="nav-item-link">
                            <i class="layui-icon layui-icon-set nav-icon"></i>
                            <span>设置</span>
                            <i class="fa fa-caret-right nav-right-icon"></i>
                        </a>
                        <ul class="child-nav">
                            <li class="child-nav-item">
                                <a href="../control/index.html">
                                    <i class="fa fa-cogs"></i>
                                    <span>网站设置</span>
                                </a>
                            </li>
                            <li class="child-nav-item">
                                <a href="../control/tdk.html">
                                    <i class="fa fa-edge"></i>
                                    <span>TDK管理</span>
                                </a>
                            </li>
                            <li class="child-nav-item">
                                <a href="../push/push_message.html">
                                    <i class="fa fa-comment-o"></i>
                                    <span>推送消息</span>
                                </a>
                            </li>
                            <li class="child-nav-item">
                                <a href="../mysql/index.html">
                                    <i class="fa fa-table"></i>
                                    <span>数据表管理</span>
                                </a>
                            </li>
                            <li class="child-nav-item">
                                <a href="../control/site_index.html">
                                    <i class="fa fa-theme"></i>
                                    <span>自定义UI管理</span>
                                </a>
                            </li>
                            <li class="child-nav-item">
                                <a href="../email/index.html">
                                    <i class="fa fa-envelope-o"></i>
                                    <span>邮件管理</span>
                                </a>
                            </li>
                            <li class="child-nav-item">
                                <a href="../control/module_index.html">
                                    <i class="fa fa-gear"></i>
                                    <span>模块管理</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="../auth/index.html" class="nav-item-link">
                            <i class="layui-icon layui-icon-user nav-icon"></i>
                            <span>用户</span>
                            <i class="fa fa-caret-right nav-right-icon"></i>
                        </a>
                        <ul class="child-nav">
                            <li class="child-nav-item">
                                <a href="../user/login.html">
                                    <i class="fa fa-user-o"></i>
                                    <span>登陆页面</span>
                                </a>
                            </li>
                            <li class="child-nav-item">
                                <a href="../user/register.html">
                                    <i class="fa fa-user"></i>
                                    <span>注册页面</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </div>
            </ul>
            <ul class="tpl-bottom-nav">
                <li class="tpl-head-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-notice"></i></a>
                </li>
                <li class="tpl-head-nav-item theme">
                    <a href="javascript:;"><i class="layui-icon layui-icon-theme"></i></a>
                </li>
                <li class="tpl-head-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-username"></i></a>
                </li>
                <li class="tpl-head-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-edit"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tpl-body">
        <div class="tpl-show">
            <div class="tpl-sub-header">
                <!--面包屑-->
                <!--{include file="public/tpl-crumbs"/}-->
                <div class="crumbs">
                    <a href="#">首页</a>
                    <i>/</i>
                </div>
            </div>
            <div class="tpl-fluid">
                <div class="tpl-pannel">
                    <form class="layui-form">
                        <div class="layui-form-item">
                            <label class="layui-form-label">权限组名称</label>
                            <div class="layui-input-block">
                                <input type="text" name="name" required  lay-verify="required" placeholder="请输入权限名称" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item auth-list">
                            <label class="layui-form-label">权限组名称</label>
                            <div class="layui-input-block p0">
                                <input type="checkbox" title="主页" value="1" lay-skin="primary"><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><span>主页</span><i class="layui-icon layui-icon-ok"></i></div>
                            </div>
                            <div class="layui-input-block p0">
                                <input type="checkbox" title="权限控制台" value="2" lay-skin="primary"><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><span>权限控制台</span><i class="layui-icon layui-icon-ok"></i></div>
                            </div>
                            <div class="layui-input-block p1">
                                <input type="checkbox" title="添加权限" value="5" lay-skin="primary"><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><span>添加权限</span><i class="layui-icon layui-icon-ok"></i></div>
                            </div>
                            <div class="layui-input-block p1">
                                <input type="checkbox" title="删除权限" value="9" lay-skin="primary"><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><span>删除权限</span><i class="layui-icon layui-icon-ok"></i></div>
                            </div>
                            <div class="layui-input-block p1">
                                <input type="checkbox" title="修改权限" value="10" lay-skin="primary"><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><span>修改权限</span><i class="layui-icon layui-icon-ok"></i></div>
                            </div>
                            <div class="layui-input-block p1">
                                <input type="checkbox" title="角色组管理" value="11" lay-skin="primary"><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><span>角色组管理</span><i class="layui-icon layui-icon-ok"></i></div>
                            </div>
                            <div class="layui-input-block p2">
                                <input type="checkbox" title="添加角色组" value="12" lay-skin="primary"><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><span>添加角色组</span><i class="layui-icon layui-icon-ok"></i></div>
                            </div>
                            <div class="layui-input-block p2">
                                <input type="checkbox" title="修改角色组" value="13" lay-skin="primary"><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><span>修改角色组</span><i class="layui-icon layui-icon-ok"></i></div>
                            </div>
                            <div class="layui-input-block p2">
                                <input type="checkbox" title="删除角色组" value="14" lay-skin="primary"><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><span>删除角色组</span><i class="layui-icon layui-icon-ok"></i></div>
                            </div>
                            <div class="layui-input-block p1">
                                <input type="checkbox" title="用户管理" value="16" lay-skin="primary"><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><span>用户管理</span><i class="layui-icon layui-icon-ok"></i></div>
                            </div>
                            <div class="layui-input-block p0">
                                <input type="checkbox" title="设置" value="21" lay-skin="primary"><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><span>设置</span><i class="layui-icon layui-icon-ok"></i></div>
                            </div>
                            <div class="layui-input-block p1">
                                <input type="checkbox" title="网站设置" value="15" lay-skin="primary"><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><span>网站设置</span><i class="layui-icon layui-icon-ok"></i></div>
                            </div>
                            <div class="layui-input-block p1">
                                <input type="checkbox" title="TDK管理" value="22" lay-skin="primary"><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><span>TDK管理</span><i class="layui-icon layui-icon-ok"></i></div>
                            </div>
                            <div class="layui-input-block p2">
                                <input type="checkbox" title="添加模块" value="23" lay-skin="primary"><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><span>添加模块</span><i class="layui-icon layui-icon-ok"></i></div>
                            </div>
                            <div class="layui-input-block p1">
                                <input type="checkbox" title="推送消息" value="51" lay-skin="primary"><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><span>推送消息</span><i class="layui-icon layui-icon-ok"></i></div>
                            </div>
                            <div class="layui-input-block p1">
                                <input type="checkbox" title="数据表管理" value="54" lay-skin="primary"><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><span>数据表管理</span><i class="layui-icon layui-icon-ok"></i></div>
                            </div>
                            <div class="layui-input-block p2">
                                <input type="checkbox" title="数据表操作" value="58" lay-skin="primary"><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><span>数据表操作</span><i class="layui-icon layui-icon-ok"></i></div>
                            </div>
                            <div class="layui-input-block p1">
                                <input type="checkbox" title="自定义UI管理" value="64" lay-skin="primary"><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><span>自定义UI管理</span><i class="layui-icon layui-icon-ok"></i></div>
                            </div>
                            <div class="layui-input-block p2">
                                <input type="checkbox" title="添加UI样式" value="59" lay-skin="primary"><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><span>添加UI样式</span><i class="layui-icon layui-icon-ok"></i></div>
                            </div>
                            <div class="layui-input-block p1">
                                <input type="checkbox" title="邮件管理" value="65" lay-skin="primary"><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><span>邮件管理</span><i class="layui-icon layui-icon-ok"></i></div>
                            </div>
                            <div class="layui-input-block p1">
                                <input type="checkbox" title="模块管理" value="66" lay-skin="primary"><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><span>模块管理</span><i class="layui-icon layui-icon-ok"></i></div>
                            </div>
                            <div class="layui-input-block p0">
                                <input type="checkbox" title="文章管理" value="24" lay-skin="primary"><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><span>文章管理</span><i class="layui-icon layui-icon-ok"></i></div>
                            </div>
                            <div class="layui-input-block p1">
                                <input type="checkbox" title="发布" value="25" lay-skin="primary"><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><span>发布</span><i class="layui-icon layui-icon-ok"></i></div>
                            </div>
                            <div class="layui-input-block p1">
                                <input type="checkbox" title="修改文章" value="26" lay-skin="primary"><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><span>修改文章</span><i class="layui-icon layui-icon-ok"></i></div>
                            </div>
                            <div class="layui-input-block p0">
                                <input type="checkbox" title="课程管理" value="27" lay-skin="primary"><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><span>课程管理</span><i class="layui-icon layui-icon-ok"></i></div>
                            </div>
                            <div class="layui-input-block p1">
                                <input type="checkbox" title="添加课程" value="28" lay-skin="primary"><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><span>添加课程</span><i class="layui-icon layui-icon-ok"></i></div>
                            </div>
                            <div class="layui-input-block p1">
                                <input type="checkbox" title="修改课程" value="34" lay-skin="primary"><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><span>修改课程</span><i class="layui-icon layui-icon-ok"></i></div>
                            </div>
                            <div class="layui-input-block p2">
                                <input type="checkbox" title="自适应修改课程" value="42" lay-skin="primary"><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><span>自适应修改课程</span><i class="layui-icon layui-icon-ok"></i></div>
                            </div>
                            <div class="layui-input-block p1">
                                <input type="checkbox" title="课程模块管理" value="35" lay-skin="primary"><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><span>课程模块管理</span><i class="layui-icon layui-icon-ok"></i></div>
                            </div>
                            <div class="layui-input-block p2">
                                <input type="checkbox" title="添加课程模块" value="36" lay-skin="primary"><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><span>添加课程模块</span><i class="layui-icon layui-icon-ok"></i></div>
                            </div>
                            <div class="layui-input-block p1">
                                <input type="checkbox" title="文件上传" value="37" lay-skin="primary"><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><span>文件上传</span><i class="layui-icon layui-icon-ok"></i></div>
                            </div>
                            <div class="layui-input-block p1">
                                <input type="checkbox" title="添加目录" value="38" lay-skin="primary"><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><span>添加目录</span><i class="layui-icon layui-icon-ok"></i></div>
                            </div>
                            <div class="layui-input-block p1">
                                <input type="checkbox" title="修改目录" value="39" lay-skin="primary"><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><span>修改目录</span><i class="layui-icon layui-icon-ok"></i></div>
                            </div>
                            <div class="layui-input-block p1">
                                <input type="checkbox" title="目录管理" value="40" lay-skin="primary"><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><span>目录管理</span><i class="layui-icon layui-icon-ok"></i></div>
                            </div>
                            <div class="layui-input-block p1">
                                <input type="checkbox" title="删除课程" value="41" lay-skin="primary"><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><span>删除课程</span><i class="layui-icon layui-icon-ok"></i></div>
                            </div>
                            <div class="layui-input-block p2">
                                <input type="checkbox" title="目录删除方法" value="44" lay-skin="primary"><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><span>目录删除方法</span><i class="layui-icon layui-icon-ok"></i></div>
                            </div>
                            <div class="layui-input-block p1">
                                <input type="checkbox" title="课程数据" value="43" lay-skin="primary"><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><span>课程数据</span><i class="layui-icon layui-icon-ok"></i></div>
                            </div>
                            <div class="layui-input-block p0">
                                <input type="checkbox" title="消息中心" value="45" lay-skin="primary"><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><span>消息中心</span><i class="layui-icon layui-icon-ok"></i></div>
                            </div>
                            <div class="layui-input-block p1">
                                <input type="checkbox" title="消息json数据" value="47" lay-skin="primary"><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><span>消息json数据</span><i class="layui-icon layui-icon-ok"></i></div>
                            </div>
                            <div class="layui-input-block p1">
                                <input type="checkbox" title="阅读邮件" value="48" lay-skin="primary"><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><span>阅读邮件</span><i class="layui-icon layui-icon-ok"></i></div>
                            </div>
                            <div class="layui-input-block p1">
                                <input type="checkbox" title="发送邮件" value="49" lay-skin="primary"><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><span>发送邮件</span><i class="layui-icon layui-icon-ok"></i></div>
                            </div>
                            <div class="layui-input-block p0">
                                <input type="checkbox" title="书库管理" value="55" lay-skin="primary"><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><span>书库管理</span><i class="layui-icon layui-icon-ok"></i></div>
                            </div>
                            <div class="layui-input-block p1">
                                <input type="checkbox" title="发布书籍" value="56" lay-skin="primary"><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><span>发布书籍</span><i class="layui-icon layui-icon-ok"></i></div>
                            </div>
                            <div class="layui-input-block p1">
                                <input type="checkbox" title="修改书籍" value="57" lay-skin="primary"><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><span>修改书籍</span><i class="layui-icon layui-icon-ok"></i></div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">是否启用</label>
                            <div class="layui-input-block">
                                <input type="checkbox" lay-skin="switch" lay-filter="status" checked="">
                                <input type="hidden" name="status" value="1">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--侧边栏-->
    <!--{include file="public/tpl-right-bar"/}-->
    <div class="tpl-right-bar">
        <div class="tpl-right-bar-show">
            <div class="tpl-card">
                <div class="tpl-card-head">配色方案</div>
                <div class="tpl-card-body">
                    <ul class="theme-list">
                        <li class="theme-item" theme-id="1">
                            <div class="theme-head" style="background-color: #ffffff" bg="#ffffff" color="#444444"></div>
                            <div class="theme-side" style="background-color: #20222A" bg="#20222A" color="rgba(255,255,255,.8)">
                                <div class="theme-logo" style="background-color: #20222A" bg="#20222A" color="rgba(255,255,255,.8)"></div>
                            </div>
                        </li>
                        <li class="theme-item" theme-id="2">
                            <div class="theme-head" style="background-color: #ffffff" bg="#ffffff" color="#444444"></div>
                            <div class="theme-side" style="background-color: #50314F" bg="#50314F" color="rgba(255,255,255,.8)">
                                <div class="theme-logo" style="background-color: #50314F" bg="#50314F" color="rgba(255,255,255,.8)"></div>
                            </div>
                        </li>
                        <li class="theme-item" theme-id="3">
                            <div class="theme-head" style="background-color: #ffffff" bg="#ffffff" color="#444"></div>
                            <div class="theme-side" style="background-color: #333f58" bg="#333f58" color="rgba(255,255,255,.8)">
                                <div class="theme-logo" style="background-color: #1E9FFF" bg="#1E9FFF" color="rgba(255,255,255,.8)"></div>
                            </div>
                        </li>
                        <li class="theme-item" theme-id="4">
                            <div class="theme-head" style="background-color: #ffffff" bg="#ffffff" color="#444"></div>
                            <div class="theme-side" style="background-color: #2e9688" bg="#2e9688" color="rgba(255,255,255,.8)">
                                <div class="theme-logo" style="background-color: #2e9688" bg="#2e9688" color="rgba(255,255,255,.8)"></div>
                            </div>
                        </li>
                        <li class="theme-item" theme-id="5">
                            <div class="theme-head" style="background-color: #ffffff" bg="#ffffff" color="#444"></div>
                            <div class="theme-side" style="background-color: #20222a" bg="#20222a" color="rgba(255,255,255,.8)">
                                <div class="theme-logo" style="background-color: #f78400" bg="#f78400" color="rgba(255,255,255,.8)"></div>
                            </div>
                        </li>
                        <li class="theme-item" theme-id="6">
                            <div class="theme-head" style="background-color: #ffffff" bg="#ffffff" color="#444"></div>
                            <div class="theme-side" style="background-color: #242d38" bg="#242d38" color="rgba(255,255,255,.8)">
                                <div class="theme-logo" style="background-color: #AA3130" bg="#AA3130" color="rgba(255,255,255,.8)"></div>
                            </div>
                        </li>
                        <li class="theme-item" theme-id="7">
                            <div class="theme-head" style="background-color: #ffffff" bg="#ffffff" color="#444"></div>
                            <div class="theme-side" style="background-color: #20222a" bg="#20222a" color="rgba(255,255,255,.8)">
                                <div class="theme-logo" style="background-color: #3A3D49" bg="#3A3D49" color="rgba(255,255,255,.8)"></div>
                            </div>
                        </li>
                        <li class="theme-item" theme-id="8">
                            <div class="theme-head" style="background-color: #2F9688" bg="#2F9688" color="#ffffff"></div>
                            <div class="theme-side" style="background-color: #20222a" bg="#20222a" color="rgba(255,255,255,.8)">
                                <div class="theme-logo" style="background-color: #226A62" bg="#226A62" color="rgba(255,255,255,.8)"></div>
                            </div>
                        </li>
                        <li class="theme-item" theme-id="9">
                            <div class="theme-head" style="background-color: #393d49" bg="#393d49" color="#ffffff"></div>
                            <div class="theme-side" style="background-color: #20222a" bg="#20222a" color="rgba(255,255,255,.8)">
                                <div class="theme-logo" style="background-color: #20222a" bg="#20222a" color="rgba(255,255,255,.8)"></div>
                            </div>
                        </li>
                        <li class="theme-item" theme-id="10">
                            <div class="theme-head" style="background-color: #ffffff" bg="#ffffff" color="#4f4f4f"></div>
                            <div class="theme-side" style="background-color: #ad5fcf" bg="#ad5fcf" color="rgba(255,255,255,.8)">
                                <div class="theme-logo" style="background-color: #20222A" bg="#20222A" color="rgba(255,255,255,.8)"></div>
                            </div>
                        </li>
                        <li class="theme-item" theme-id="11">
                            <div class="theme-head" style="background-color: #ffffff" bg="#ffffff" color="#444"></div>
                            <div class="theme-side" style="background-color: #20222A" bg="#20222A" color="#b91a1a">
                                <div class="theme-logo" style="background-color: #20222A" bg="#20222A" color="#b91a1a"></div>
                            </div>
                        </li>
                        <li class="theme-item" theme-id="12">
                            <div class="theme-head" style="background-color: #ffffff" bg="#ffffff" color="#444"></div>
                            <div class="theme-side" style="background-color: #0a5541" bg="#0a5541" color="#eda438">
                                <div class="theme-logo" style="background-color: #20222A" bg="#20222A" color="rgba(255,255,255,.8)"></div>
                            </div>
                        </li>
                        <li class="theme-item" theme-id="13">
                            <div class="theme-head" style="background-color: #ffffff" bg="#ffffff" color="#626262"></div>
                            <div class="theme-side" style="background-color: #f44336" bg="#f44336" color="#fbfbfb">
                                <div class="theme-logo" style="background-color: #f44336" bg="#f44336" color="#fbfbfb"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../static/layui/layui.js"></script>
<script src="../../static/js/app.js"></script>
<script>
    layui.use(['jquery','form'],function(){
        var $ = layui.jquery;
        var form = layui.form;
        form.on('switch(status)', function(data){
            $("input[name='status']").val(this.checked ? 1 : 0);
        });
        $('form').submit(function (e) {
            e.preventDefault();
            let name = $("input[name='name']").val();
            let option = '';
            let status = $("input[name='status']").val();
            $(".auth-list input[type='checkbox']:checked").each(function (e) {
                option += $(this).val()+',';
            })
            option = option.substr(0, option.length - 1);
            if (name == '') {
                layer.msg('请输入权限组名称');
            } else {
                layer.load(1);
                $.ajax({
                    url: "{:url('rule_add')}",
                    type: 'post',
                    data: {
                        name: name,
                        ids: option,
                        status: status
                    },
                    success: function (d) {
                        layer.msg(d.msg);
                        layer.closeAll('loading');
                    },
                    error: function (e) {
                        layer.msg(e);
                        layer.closeAll('loading');
                    }
                })
            }
            return false;
        })
    })
</script>
</body>
</html>